@media (min-width: 990px) {
  .ch-headertop--mb {
    margin-bottom: 30px;
  }
  .ch-atom-btn {
    border-radius: 100px;
    border-width: 2px;
    cursor: pointer;
  }
  .ch-header {
    padding-left: 13px;
    padding-right: 20px;
  }

  .ch-header__btn {
    background-color: white;
    border-color: rgb(99, 172, 252);
    color: rgb(99, 172, 252);
    width: 150px;
    height: 45px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0px;
    margin-right: -10px;
    display: inline-block;
  }
  .ch-header__link {
    padding-left: 15px;
    padding-right: 13px;
    margin-left: 5px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: -1px;
  }

  .ch-header__logo {
    margin-left: -9px;
    margin-top: -10px;
    width: 17%;
  }
  /* banner */
  .ch-banner {
    padding-left: 100px;
    text-align: left;
    padding-right: 50px;
  }
  .ch-banner--margin {
    margin-top: -20px;
  }
  .ch-banner--margin {
    margin-right: 800px;
  }
  .ch-banner__h1 {
    text-align: left;
    padding-left: 25px;
    font-size: 48px;
    font-weight: 700;
    line-height: 55px;
  }
  .ch-banner__h1--mt {
    margin-top: 80px;
  }
  .ch-banner__P {
    text-align: left;
    font-size: 18px;
    max-width: 85%;
    letter-spacing: 0px;
    line-height: 30px;
  }
  .ch-banner__P--margin {
    margin-left: 25.87px;
    margin-right: 25.87px;
    margin-bottom: 40px;
  }
  .ch-banner__btn {
    background-color: rgb(99, 172, 252);
    color: white;
    width: 140px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -1px;
    padding: 0px;
  }
  .ch-banner__btn--margin {
    margin-left: 25px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-top: -27px;
  }
  .ch-banner__a {
    color: rgb(99, 172, 252);
    font-size: 16px;
    font-weight: 600;
    /* line-height: 24px; */
    text-decoration: none;
    letter-spacing: -1px;
  }
  .ch-banner__a--mt {
    margin-top: -50px;
    margin-left: 32px;
  }
  .ch-banner__img {
    padding-right: 4px;
  }
  .ch-banner__img--width {
    width: 78%;
    margin-top: 25px;
    padding-right: 20px;
  }
}
