/* header */
@font-face {
  font-family: robot;

  font-style: normal;
  font-weight: 100;
  src: url(fonts\Recoleta-Bold.ttf);
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "spartan", "sans-serif";
  overflow-x: hidden;
}
.ch-atom-h1 {
  font-size: 37px;
  font-weight: 800;
  line-height: 33px;
  text-align: center;
  text-size-adjust: 100%;
  font-family: "EB Garamond", serif;
}
.ch-atom-h2 {
  font-size: 33px;
  font-weight: 800;
  line-height: 33px;
  text-align: center;
  text-size-adjust: 100%;
  font-family: "EB Garamond", serif;
  padding-left: 5px;
  padding-right: 5px;
}
.ch-atom-para {
  font-size: 13px;
  font-weight: 400;
}
.ch-atom-para--margin {
  margin-top: 30px;
}
.ch-atom-para-f17 {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding-top: 5px;
  padding-bottom: 6px;
  letter-spacing: -1px;
}
.ch-atom-btn {
  border-radius: 100px;
  border-width: 1px;
  cursor: pointer;
}
.ch-atom-btn--border {
  border: 1px solid rgb(99, 172, 252);
  font-size: 10px;
}
.ch-headertop {
  background-color: rgb(99, 172, 252);
}
.ch-headertop--mb {
  margin-bottom: -10px;
}
.ch-header__logo {
  margin-left: -12px;
  width: 43%;
}
.ch-header__btn {
  background-color: white;
  border-bottom-color: rgb(99, 172, 252);
  border-top-color: rgb(99, 172, 252);
  border-left-color: rgb(99, 172, 252);
  border-right-color: rgb(99, 172, 252);
  color: rgb(99, 172, 252);
  width: 96px;
  height: 35px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0px;
  margin-right: -10px;
  padding: 0px;
}
/* header */
/* section 1 */
.ch-banner {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
.ch-banner--margin {
  margin-top: 80px;
}
.ch-font {
  font-family: "EB Garamond", serif;
}

.ch-banner__P {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-size-adjust: 100%;
  color: rgb(24, 24, 24);
  letter-spacing: -1px;
}
.ch-banner__P--margin {
  margin-left: 25.87px;
  margin-right: 25.87px;
  margin-bottom: 40px;
  margin-top: 15px;
}
.ch-banner__btn {
  background-color: rgb(99, 172, 252);
  color: white;
  width: 160px;
  height: 60px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -1px;
  padding: 0px;
}
.ch-banner__btn--font {
  font-size: 14px;
}
.ch-banner__btn--white {
  background-color: white;
  color: rgb(99, 172, 252);
  margin: 30px 80px !important;
}
.ch-banner__btn--margin {
  margin-left: 92.5px;
  margin-right: 92.5px;
  margin-bottom: 25px;
}
.ch-banner__a {
  color: rgb(99, 172, 252);
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
  letter-spacing: -1px;
}
.ch-banner__img {
  padding-right: 4px;
}
.ch-banner__img--width {
  width: 109%;
  margin-top: 25px;
  padding-right: 20px;
}
/* scetion3 */
.ch-org-support {
  background-color: rgb(248, 251, 255);
  border-radius: 40px;
  padding-top: 80px;
  padding-bottom: 80px;
}
.ch-org-support--border {
  border: 1px solid #63acfc;
}
.ch-org-support--margin {
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 50px;
}
.ch-molc-review {
  font-size: 12px;
  text-decoration: none;
  font-weight: 600;
}
.ch-molc-review__img {
  width: 27%;
  padding-bottom: 8px;
}
.ch-molc-review__h2 {
  font-size: 27px;
  font-weight: 800;
  margin-top: 30px;
  margin-bottom: 50px;
}
.ch-molc-card {
  padding-left: 20px;
  padding-right: 20px;
}
.ch-molc-card__img {
  width: 50%;
}
.ch-molc-card__img--width1 {
  width: 45%;
}
.ch-molc-card__img--width2 {
  width: 55%;
}
.ch-molc-card__img--width3 {
  width: 55%;
}
.ch-molc-card__text {
  margin-top: 20px;
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 0px;
}
.ch-atomsec3img1 {
  width: 28%;
  position: absolute;
  transform: translate(207%, -118%);
}
.ch-atomsec3img2 {
  width: 23%;
  position: absolute;
  transform: translate(14%, 36%);
}
/* section4 */
.ch-molc-card-howitworks {
  padding-left: 25px;
  padding-right: 25px;
}
.ch-molc-card-howitworks--right {
  text-align: right;
}
.ch-molc-card-howitworks__h3 {
  font-size: 70px;
  font-weight: 800;
}
.ch-molc-card-howitworks__p {
  max-width: 200px;
  font-size: 12px;
  padding-top: 13px;
}
.ch-molc-card-howitworks__p--width {
  max-width: 277px;
  padding-left: 88px;
}
.ch-molc-card-howitworks__img {
  display: inline;
  width: 22%;
}
.ch-molc-card-howitworks__img--width {
  width: 30%;
}
.ch-molc-card-howitworks__img--width1 {
  width: 40%;
}
.ch-org-howitworks {
  padding-left: 35px;
  padding-right: 35px;
}
.ch-org-howitworks__h2 {
  margin-top: 100px;
  margin-bottom: 20px;
}
.ch-trophy {
  height: 300px;
  padding-left: 20px;
  padding-right: 20px;
}
/* section4 */
.ch-mail {
  max-width: 90%;
}

.ch-org-support--blue {
  background-color: rgb(99, 172, 252);
}

.ch-birdimg {
  width: 100%;
  padding-bottom: 10px !important;
}
.ch-textbox {
  border-radius: 100px;
  height: 60px;
  width: 270px;
  font-size: 13px;
}
