/* header */
@font-face {
  font-family: robot;

  font-style: normal;
  font-weight: 100;
  src: url(fonts\Recoleta-Bold.ttf);
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: "spartan", "sans-serif";
  overflow-x: hidden;
}
.ch-font {
  font-family: Recoleta Bold;
}
.ch-atom-h1 {
  font-size: 41px;
  font-weight: 800;
  line-height: 33px;
  text-align: center;
  text-size-adjust: 100%;
  font-family: "EB Garamond", serif;
}
.ch-atom-h2 {
  font-size: 33px;
  font-weight: 800;
  line-height: 33px;
  text-align: center;
  text-size-adjust: 100%;
  font-family: "EB Garamond", serif;
}
.ch-atom-para {
  font-size: 13px;
  font-weight: 400;
}
.ch-atom-btn {
  border-radius: 100px;
  border-width: 1px;
  cursor: pointer;
}

.ch-atom-para-beta {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  padding-top: 5px;
  padding-bottom: 6px;
  letter-spacing: -1px;
}
/* atom */
/* header top */
.ch-headertop {
  background-color: rgb(99, 172, 252);
}
.ch-headertop--mb {
  margin-bottom: -10px;
}
/* header */
.ch-header__logo {
  margin-left: -12px;
  width: 43%;
}
.ch-header__btn {
  background-color: white;
  border-bottom-color: rgb(99, 172, 252);
  border-top-color: rgb(99, 172, 252);
  border-left-color: rgb(99, 172, 252);
  border-right-color: rgb(99, 172, 252);
  color: rgb(99, 172, 252);
  width: 96px;
  height: 35px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0px;
  margin-right: -10px;
  padding: 0px;
}
/* section1 */
.ch-banner {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
.ch-banner--margin {
  margin-top: 80px;
}
.ch-banner__h1--mt {
  margin-top: 80px;
}
.ch-banner__P {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-size-adjust: 100%;
  color: rgb(24, 24, 24);
  letter-spacing: -1px;
}
.ch-banner__P--margin {
  margin-left: 25.87px;
  margin-right: 25.87px;
  margin-bottom: 40px;
  margin-top: 15px;
}
.ch-banner__btn {
  background-color: rgb(99, 172, 252);
  color: white;
  width: 160px;
  height: 60px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: -1px;
  padding: 0px;
}
.ch-banner__btn--font {
  font-size: 14px;
}
.ch-banner__btn--white {
  background-color: white;
  color: rgb(99, 172, 252);
  margin: 30px 80px !important;
}
.ch-banner__btn--margin {
  margin-left: 92.5px;
  margin-right: 92.5px;
  margin-bottom: 25px;
}
.ch-atom-bannerlink {
  font-weight: 600;
  font-size: 13px;
  text-decoration-line: none;
}
.ch-banner__img {
  padding-right: 4px;
}
.ch-banner__img--width {
  width: 109%;
  margin-top: 25px;
  padding-right: 20px;
}
.ch-molc-banner__button--white {
  color: rgb(99, 172, 252);
  background-color: white;
  border-color: rgb(99, 172, 252);
}
/* section2 */
.ch-org-support {
  background-color: rgb(248, 251, 255);
  border-radius: 40px;
  padding-top: 3rem;
  padding-bottom: 5rem;
}
.ch-org-support--blue {
  background-color: rgb(99, 172, 252);
}
.ch-org-support--border {
  border: 1px solid #63acfc;
}
.ch-org-support--margin {
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 50px;
}
.ch-molc-review {
  font-size: 12px;
  text-decoration: none;
  font-weight: 600;
}
.ch-molc-review__img {
  width: 27%;
  padding-bottom: 8px;
}
.ch-molc-review__h2 {
  font-size: 27px;
  font-weight: 800;
  margin-top: 30px;
  margin-bottom: 50px;
}
.ch-molc-card {
  padding-left: 20px;
  padding-right: 20px;
}
.ch-molc-card__img {
  width: 50%;
}
.ch-molc-card__img--width1 {
  width: 45%;
}
.ch-molc-card__img--width2 {
  width: 55%;
}
.ch-molc-card__img--width3 {
  width: 55%;
}
.ch-molc-card__text {
  margin-top: 20px;
  font-size: 19px;
  font-weight: 600;
  letter-spacing: 0px;
}
/* section3 */
.ch-org-howitworks {
  padding-left: 35px;
  padding-right: 35px;
}
.ch-org-howitworks__h2 {
  margin-top: 100px;
  margin-bottom: 20px;
}
.ch-howitworks__arrow {
  position: relative;
  top: -154px;
  right: -176px;
  width: 113px;
  transform: rotate(49deg);
}
.ch-howitworks__arrow2 {
  position: relative;
  top: -138px;
  right: 157px;
  width: 113px;
  transform: rotate(136deg);
}
.ch-molc-card-howitworks {
  padding-left: 25px;
  padding-right: 25px;
}
.ch-molc-card-howitworks__p {
  max-width: 200px;
  font-size: 12px;
  padding-top: 13px;
}
.ch-molc-card-howitworks__h3 {
  font-size: 70px;
  font-weight: 800;
}
.ch-molc-card-howitworks__img {
  display: inline;
  width: 22%;
}
.ch-molc-card-howitworks--alignr {
  text-align: right;
}
.ch-molc-card-howitworks--alignl {
  text-align: left;
}
.ch-molc-card-howitworks__p--width {
  max-width: 277px;
  padding-left: 88px;
}
.ch-molc-card-howitworks__img--width {
  width: 30%;
}
.ch-molc-card-howitworks__img--width1 {
  width: 40%;
}
.ch-org-support--margin-ready {
  margin-left: 12px;
  margin-right: 12px;
  margin-top: 100px;
}
.ch-org-support--margin-we {
  padding-top: 3rem;
  margin-top: 30px;
}

.ch-atom-h2__center {
  text-align: center;
  margin-top: 100px;
  padding-left: 3rem;
  padding-right: 3rem;
}
.ch-atom-para--margin {
  margin-top: 30px;
}
.ch-atom-btn--border {
  border: 1px solid rgb(99, 172, 252);
  font-size: 10px;
}
.ch-atom-para--marginfrom {
  margin-top: 15px;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  text-align: center !important;
}
.ch-easy {
  padding-top: 10px;
}
.ch-dont {
  padding-top: 10px;
}
.ch-atomsec3img1 {
  width: 28%;
  position: absolute;
  transform: translate(207%, -118%);
}
.ch-atomsec3img2 {
  width: 23%;
  position: absolute;
  transform: translate(14%, 36%);
}
/* section4 */
.ch-trophy {
  height: 300px;
  padding-left: 20px;
  padding-right: 20px;
}
/* section4 */
.ch-mail {
  max-width: 90%;
}
.ch-banner1 {
  width: 100%;
  padding-top: 20px;
}
.ch-banner2 {
  width: 95%;
  margin-bottom: -37px;
  margin-top: 24px;
}

.form-control--size {
  border-radius: 100px;
  width: 270px;
  height: 60px;
  display: inline;
}
.ch-molc-banner__button {
  border-radius: 100px;
  font-size: 15px;
  font-weight: 500;
  background-color: rgb(99, 172, 252);
  height: 60px;
  width: 160px;
  line-height: 18px;
}
.ch-molc-banner__button--white {
  color: rgb(99, 172, 252);
  background-color: white;
  border-color: rgb(99, 172, 252);
}
.ch-birdimg {
  width: 100%;
  margin-bottom: 5px !important;
}
.ch-textbox {
  text-align: center;
}
/* footer */
.ch-org-footer {
}
.ch-molc-footer-list {
  padding: 0;
  list-style-type: none;
}
.ch-molc-footer-list__item {
  font-size: 12px;
  padding: 10px;
  color: black;
}
.ch-molc-footer-list__item2 {
  font-size: 9px;
  padding: 5px;
}
/* section5 */
.ch-icon {
  height: 40px !important;
  max-width: 45px !important;
}
.ch-molc-service-card {
  height: 195px;
  width: 276px;
}
.ch-molc-card2__para {
  color: rgb(118, 118, 118);
  font-size: 14px;
  font-weight: 400px;
  line-height: 18px;
  padding-top: 8px;
}
.ch-atom-card-title {
  font-size: 20px;
  font-weight: 700;
}
.carousel-indicators li {
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: rgb(99, 172, 252);
  color: white;
}
.ch-card-img1 {
  width: 200px !important;
}
.ch-card-img2 {
  width: 220px !important;
}
.ch-card-img3 {
  width: 210px !important;
}
